<div class="container">
	<div class="table-responsive">
		<table class="table">
			<tr>
				<td>
					<h1>Switch User Page</h1>
					<h4> Only users having CompanyName as 'Deloitte' are used for this switchUser app </h4>
				</td>
				<td>
					<div ng-if="showLoading" class="alert alert-info"> Loading...</div>
				</td>
			</tr>
		</table>
	</div>
	<br/>
	<form>
		<div class="table-responsive">
			<table class="table">
				<th> Select the Active User </th>
				<th> Select the Inactive User </th>
				<tr>
					<td>
						<select ng-model="flosum.selectedActiveUser" ng-options="x.Name for x in activeUsers">
						</select>
					</td>
					<td>
						<select ng-model="flosum.selectedInactiveUser" ng-options="x.Name for x in inactiveUsers">
						</select>
					</td>
				</tr>
			</table>
		</div>
		<input type="button" value="Switch User" ng-click="save()" class="btn btn-primary"></input>	
	</form>
</div>